body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#shapka{
    position: absolute;
    width: 75%;
    height: 8.8%;
    left: 12.5%;
    top:0px;
    z-index: 1;
    background-color: #2A2A29;
}
#vk{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 92%;
    text-decoration: none;
    user-select: none;
}
#ds{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 88%;
    text-decoration: none;
    user-select: none;
}
#yt{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 84%;
    text-decoration: none;
    user-select: none;
}
#logo{
    position: relative;
    width: 257px;
    height: 71px;
    left: 1px;
    top: 0px;
    overflow: hidden;

}
#qwe{
    position: absolute;
width: 319px;
height: 301px;
left: -15.5%;
top: -142%;
}
#glavnaya1{   
    position: absolute;
    width:  9%;
    height: 100%;
    top: 0px;
    left: 18%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 90%;
    background: #2A2A29;
}
#glavnaya1:hover { background: #DB0720; }
#glavnaya1:active { background: #ffffffbe; }
#kuhna{  
    position: absolute;
    width:  9%;
    top: 0px;
    left: 27%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 90%;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #DB0720;
}
#kuhna:hover { background: #DB0720; } /* при наведении курсора мышки */
#kuhna:active { background: #ffffffbe; } /* при нажатии */
#eco{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 36%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #2A2A29;
}
#eco:hover { background: #DB0720; }
#eco:active { background: #ffffffbe; }
#hotel{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 45%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #2A2A29;
}
#hotel:hover { background: #DB0720; }
#hotel:active { background: #ffffffbe; }
#prog{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 54%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #2A2A29;
}
#prog:hover { background: #DB0720; }
#prog:active { background: #ffffffbe; }
#p{
    position: relative;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 175%;
line-height: 30%;
top: 10%;
color: #FFFFFF;
text-align: center;
}
#main{
    position: absolute;
    background-color: #FFFFFF;
    left: 12.5%;
    top: 0px;
    width: 75%;
    height: 415%;
}
#inf1{
    position:absolute;
    width: 51%;
    height: 6%;
    left: 2.5%;
    top: 3.7%;
    background-color: #36483E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    line-height: 100%;

    color: #FFFFFF;
}
#inf2{
    position:absolute;
    width: 51%;
    height: 6%;
    left: 45.5%;
    top: 10.85%;
    background-color: #36483E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    line-height: 100%;

    color: #FFFFFF;
}
#inf3{
    position:absolute;
    width: 51%;
    height: 6%;
    left: 2.5%;
    top: 18.15%;
    background-color: #36483E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    line-height: 100%;

    color: #FFFFFF;
}
#inf4{
    position:absolute;
    width: 51%;
    height: 6%;
    left: 45.5%;
    top: 25.6%;
    background-color: #36483E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    line-height: 100%;

    color: #FFFFFF;
}
#img1{
    position: absolute;
    width: 38.2%;
    height: 6.8%;
    left: 55.5%;
    top: 3.3%;
}
#img2{
    position: absolute;
    width: 38.2%;
    height: 6.8%;
    left: 5%;
    top: 10.5%;
}
#img3{
    position: absolute;
    width: 38.2%;
    height: 6.8%;
    left: 55.5%;
    top: 17.75%;
}
#img4{
    position: absolute;
    width: 38.2%;
    height: 6.8%;
    left: 5%;
    top: 25.25%;    
}
#txt1{
    font-family: 'Inter';
    position: absolute;
    width: 92.6%;
    height: 2%;
    left: 3.7%;
    top: 33%;
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
#ln{
    position: absolute;
    width: 82.7%;
    height: 0.05%;
    left: 8.65%;
    background: #2A2A29;
}
#syt{
    position: absolute;
    width: 99%;
    height: 5%;
    left: 1%;
    top: 69%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;
}
#mblock{
    position: absolute;
    width: 50%;
    height: 12.5%;
    left: 0px;
    background: #C4C4C4;
}
#name{
    position: absolute;
    width: 99%;
    height: 5%;
    left: 1%;
    top: -4%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 90%;
    color: #000000;
}
#info{
    position: absolute;
    width: 95%;
    left: 5%;
    top: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 100%; 
    color: #000000;
}
#adres{
    position: absolute;

    width: 99%;
    height: 10%;
    left: 1%;
    top: 75%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;    
}
#tel{
    position: absolute;
    width: 99%;
    height: 5%;
    left: 1%;
    top: 86%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;
}
#img6{
    position: absolute;
    width: 50%;
    height: 12.5%;
    left: 50%;
}