body{
    width: 100%;
    height: 100%;        
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#shapka{
    position: absolute;
    width: 75%;
    height: 8.8%;
    left: 12.5%;
    top:0px;
    z-index: 1;
    background-color: #2A2A29;
}
#vk{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 94%;
    text-decoration: none;
    user-select: none;
}
#ds{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 89%;
    text-decoration: none;
    user-select: none;
}
#yt{
    position: absolute;
    width: 3.8%;
    height: 67.9%;
    top: 16%;
    left: 84%;
    text-decoration: none;
    user-select: none;
}
#logo{
    position: absolute;
    width: 18%;
    height: 100%;
    left: 0;
    top: 0%;
    overflow: hidden;
}
#qwe{
    position: absolute;
    width: 115%;
    height: 357%;
    left: -15%;
    top: -116%;
}
#glavnaya1{   
    position: absolute;
    width:  9%;
    height: 100%;
    top: 0px;
    left: 18%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    line-height: 90%;
    background: #2A2A29;
}
#glavnaya1:hover { background: #DB0720; }
#glavnaya1:active { background: #ffffffbe; }
#kuhna{  
    position: absolute;
    width:  9%;
    top: 0px;
    left: 27%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    line-height: 90%;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #2A2A29;
}
#kuhna:hover { background: #DB0720; } /* при наведении курсора мышки */
#kuhna:active { background: #ffffffbe; } /* при нажатии */
#eco{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 36%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #2A2A29;
}
#eco:hover { background: #DB0720; }
#eco:active { background: #ffffffbe; }
#hotel{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 45%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #DB0720;
}
#hotel:hover { background: #DB0720; }
#hotel:active { background: #ffffffbe; }
#prog{
    position: absolute;
    width:  9%;
    top: 0px;
    left: 54%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    line-height: 90%;
    text-decoration: none;
    user-select: none;
    background: #2A2A29;
}
#prog:hover { background: #DB0720; }
#prog:active { background: #ffffffbe; }
#p{
    position: relative;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 175%;
line-height: 30%;
top: 10%;
color: #FFFFFF;
text-align: center;
}
#main{
    position: absolute;
    background-color: #FFFFFF;
    left: 12.5%;
    top: 0px;
    width: 75%;
    height: 400%;    
}
#img1{
    position: absolute;
    width: 100%;
    height: 17%;
    left: 0px;
    top: 2.1%;
    overflow: hidden;
}
#inf1{
    position: absolute;
    width: 93.75%;
    height: 7%;
    left: 3.125%;
    top: 6.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #36483E; 
}
#img2{
    position: absolute;
    width: 50%;
    height: 12.5%;
    left: 50%;
}
#mblock{
    position: absolute;
    width: 50%;
    height: 12.5%;
    left: 0px;
    background: #C4C4C4;
}
#syt{
    position: absolute;
    width: 99%;
    height: 5%;
    left: 1%;
    top: 69%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;
}
#name{
    position: absolute;

    width: 99%;
    height: 5%;
    left: 1%;
    top: -4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 90%;
    color: #000000;
}
#info{
    position: absolute;

    width: 95%;
    left: 5%;
    top: 8%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 100%; 
    color: #000000;
}
#adres{
    position: absolute;
    width: 99%;
    height: 10%;
    left: 1%;
    top: 75%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;    
}
#tel{
    position: absolute;
    width: 99%;
    height: 5%;
    left: 1%;
    top: 86%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 90%;
    color: #000000;
}
#ln{
    position: absolute;
    width: 82.7%;
    height: 0.05%;
    left: 8.65%;
    background: #2A2A29;
}